@font-face {
  font-family: "GamesToPlay";
  src: url('./fonts/Cute Notes.ttf');
}

@font-face {
  font-family: "RegularFont";
  src: url('./fonts/Gobold Regular.otf');
}

#root, html, body {

  margin: auto;
  font-family: 'Arial';
  background-color: whitesmoke;
}

header {

  background-color: #1E201E;

  display: flex;
  padding: 5px 80px 5px 50px;  

  justify-content: space-between;

  color: whitesmoke;
}

h1, h2, h3 {

  font-family: 'RegularFont';
}

header h1 {

  font-family: "GamesToPlay";
}

header ul {

  display: flex;

  gap: 2rem;

  list-style: none;
}

header ul li button {

  font-size: x-large;

  border: 0px;
  background-color: transparent;

  font-family: 'RegularFont';

  margin-top: 10px;

  color: whitesmoke;
}