#root, html, body {

  margin: 0;
  font-family: 'Arial';
  background-color: whitesmoke;
}

header {

  background-color: wheat;

  display: flex;
  padding: 5px 80px 5px 50px;  

  justify-content: space-between;
}

header ul {

  display: flex;

  gap: 2rem;

  list-style: none;
}

header ul li button {

  font-size: x-large;

  border: 0px;
  background-color: transparent;

  margin-top: 10px;
}