.game-entry {

    width: 250px;
    height: 350px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 1fr;    
}

.game-box-art img {

    width: 250px;
    height: 300px;

    border: 2px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.game-title {

    margin: auto;
}

.game-entry:hover {

    transform: translate(-2%, -2%);
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    padding: 5px;
    position: relative;
    transition: 0.3s;
}