.game-entry {

    width: 250px;
    height: 350px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 1fr;    
}

.game-box-art img {

    width: 250px;
    height: 300px;

    border: 2px solid #3C3D37;
    border-radius: 5px;
}

.game-title {

    margin: auto;
}

.game-entry:hover {

    transform: translate(-2%, -2%);
    background-color: #3C3D37;

    color: whitesmoke;
    font-weight: bold;

    border-radius: 5px;
    padding: 5px;
    position: absolute;
    transition: 0.3s;
}