@keyframes modal-boot-anim {

    from {
        opacity: 0;
    } to {

        opacity: 1;
    }
}

.modal-style {

    position: fixed;
    z-index: 1000;

    top: 10%;
    bottom: 10%;
    left: 20%;
    right: 20%;

    background-color: white;
    border-radius: 10px;
    animation: modal-boot-anim 0.5s forwards;
}

.modal-header {

    background-color: rgb(178, 178, 178);
    padding: 15px;

    border-radius: 10px 10px 0px 0px;
}

.modal-content-container {

    display: flex;
    padding: 25px;
    justify-content: space-evenly;
}

.modal-left-item {

    text-align: center;
}

.modal-left-item img {

    width: 250px;
    height: 300px;
}

.exit-btn {

    background-color: rgb(160, 14, 14);

    width: 50px;
    height: 30px;

    border-radius: 0px 10px 0px 00px;

    position: absolute;
    right: 0;
}

.exit-btn p {

    text-align: center;
    transform: translateY(50%);
    margin: auto;

    font-weight: bold;
    color: rgb(255, 255, 255);
}
